.content {
   position: relative;
   margin-top: 10%;
   margin: 5%;
 }

.table {
  width: 100%;
}

.md-button.md-cornered {
  border-radius: 0;
}

.conten-btn{
  display: flex;
  justify-content: space-between;
}
